/* PHASE 4: Footer */

.footer {
    width: 900px;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.footer a {
    color: lightgray;
}

.footer-list {    
    display: flex;
    flex-direction: row;
}

.footer-list > li {
    padding-left: 20px;
}